body {
    margin: 10;
    padding: 10;
    line-height: 1.6;
    font-family: 'Noto Sans JP', sans-serif;
    background: url(fondo.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #fff;

}